<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="container" id="fore-particles">
    <center>
        <p100>404</p100>
    </center>
    <center>
        <p200><a href=/Home>Back to homepage</a></p200>
    </center>
</div>