@{
    ViewData["Title"] = "B E T A L E N";
}
<h5>@ViewData["Title"]</h5>

<div class="bestel1">
    <p>JOUW BESTELLING:</p>
</div> 

<div class="bestel2">
    <form>
        <fieldset>
            <br> Naam: <input type="text" pattern="[A-Za-z]{3,}" title="minimaal drie letters en geen cijfers" required style="background-color: #ECECEC">
            <br> Straatnaam en adres: <input type="text" required style="background-color: #ECECEC">
            <br> Postcode: <input type="text" required style="background-color: #ECECEC">
            <br> Plaatsnaam: <input type="text" required style="background-color: #ECECEC">
            <br> Postcode: <input type="text" required style="background-color: #ECECEC">
            <br> E-mailadres: <input type="text" required style="background-color: #ECECEC">
            <br> Opmerkingen: <input type="text" required style="background-color: #ECECEC">
            <br> Hoe wil je betalen? </br>
        </fieldset>
    </form>

    <div class="paypal">
        <a href="https://www.paypal.com/checkoutnow?token=EC-90S00416D0838500S&useraction=continue">
             <img src="/Afbeeldingen/paypal.png"/>
        </a>
    </div>

    <div class="ideal">
        <a href="https://www.paypal.com/checkoutnow?token=EC-90S00416D0838500S&useraction=continue">
            <img src="/Afbeeldingen/ideal.png" />
        </a>
    </div>
</div> 