@{
    ViewData["Title"] = "B E T A L E N";
}
<h5>@ViewData["Title"]</h5>

<div class="bestel1">
    <p>JOUW BESTELLING:</p>
</div> 

<div class="bestel2"
    <form>
        <fieldset
            <br> Naam <input type="text" pattern="[A-Za-z]{3,}" title="minimaal drie letters en geen cijfers">
            <br> Straatnaam en adres <input type="text">
            <br> Postcode <input type="text">
            <br> Plaatsnaam <input type="text">
            <br> Postcode <input type="text">
            <br> E-mailadres <input type="text">
            <br> Opmerkingen <input type="text">
            <br> Hoe wil je betalen? </br>
        </fieldset>
    </form>

    <img src="/Afbeeldingen/paypal.png"/>
    <img src="/Afbeeldingen/ideal.png"/>
</div> 
