@{
    ViewData["Title"] = "C O N T A C T";
}
<h1>@ViewData["Title"]</h1>

<div class="contact1"
<p>
    VOOR VERZOEKEN, INFORMATIE OF OPMERKINGEN, NEEM CONTACT MET ONS OP VIA ONDERSTAANDE MOGELIJKHEDEN.
</p>

<p>
    Aart van der Leeuwkade 14
</p>

<p>
    2274KX
</p>

<p>
    Voorburg
</p>

<p>
    +31 6 20972384
    wabi-sabi@outlook.com
</p>
</div>