@{
    ViewData["Title"] = "C O N T A C T";
}
<h1>@ViewData["Title"]</h1>

<div class="contact1"
<p>
    VOOR VERZOEKEN, INFORMATIE OF OPMERKINGEN, NEEM CONTACT MET ONS OP VIA ONDERSTAANDE MOGELIJKHEDEN.
</p>

<p>
    Aart van der Leeuwkade 14
</p>

<p>
    2274KX
</p>

<p>
    Voorburg
</p>

<p>
    +31 6 20972384
    wabi-sabi@outlook.com
</p>
</div>

<div style="width: 700px;position: relative;"><iframe width="700" height="440" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Aart%20van%20der%20leeuwkade%2014+(Titel)&amp;ie=UTF8&amp;t=&amp;z=8&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="http://www.googlemapsgenerator.com/nl/">Googlemapsgenerator.com/nl/</a> & <a href="http://northland-bordeaux.com/starting-a-pet-website/">Diabolic labs</a></small></div>
<style>
    #gmap_canvas img {
        max-width: none !important;
        background: none !important
    }
</style></div>
<br />