@using Wabisabi.database
@model Country
@{
    ViewData["Title"] = Model.Naam;
}

<div style="background-image:@Model.Afbeelding1" class="img-tile"></div>
<div style="background-image:@Model.Afbeelding2" class="img-tile"></div>
<div style="background-image:@Model.Afbeelding3" class="img-tile"></div>
<div style="background-image:@Model.Afbeelding4" class="img-tile"></div>

<h2>@Model.Naam</h2>
<h3>@Model.Beschrijving</h3>
