<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Wabisabi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/png" href="~/Afbeeldingen/logo-wabi-sabi.png" />

</head>
<body>
    <header>
        <nav class="top-bar">
            <h1 class="titel"> WABI-SABI(わびさび) </h1>
            <div class="logo">
                <img src="/Afbeeldingen/logo-wabi-sabi.png" alt="logo" />
            </div>
        </nav>
        <link rel="stylesheet" href="~/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <nav class="menubalk">
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="hamburger"></i>
                <img src="/Afbeeldingen/hamburger-icon.png" alt="icon" />
            </a>
            <a href="/" class="active">H O M E</a>
            <div id="myLinks">
                <a href="/Country/China">C H I N A</a>
                <a href="/Country/Indonesie">I N D O N E S I Ë</a>
                <a href="/Country/India">I N D I A</a>
                <a href="/Country/Japan">J A P A N</a>
                <a href="/Country/Korea">K O R E A</a>
                <a href="/Country/Thailand">T H A I L A N D</a>
                <a href="/Country/Vietnam">V I E T N A M</a>
                <a href="/Contact">C O N T A C T</a>
                <a href="/Bestel">B E S T E L</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; W A B I - S A B I (わびさび) INC All rights reserved
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
