@{
    ViewData["Title"] = "Japan";
}

<div style="background-image: url(/Afbeeldingen/japan1.jpg)" class="img-tile1"></div>
<div style="background-image: url(/Afbeeldingen/japan2.jpg)" class="img-tile2"></div>
<div style="background-image: url(/Afbeeldingen/japan3.jpg)" class="img-tile3"></div>
<div style="background-image: url(/Afbeeldingen/japan4.jpg)" class="img-tile4"></div>