@{
    ViewData["Title"] = "Japan";
}

<div style="background-image: url(/Afbeeldingen/japan1.jpg)" class="img-tile"></div>
<div style="background-image: url(/Afbeeldingen/japan2.jpg)" class="img-tile"></div>
<div style="background-image: url(/Afbeeldingen/japan3.jpg)" class="img-tile"></div>
<div style="background-image: url(/Afbeeldingen/japan4.jpg)" class="img-tile"></div>