@{
    ViewData["Title"] = "Japan";
}


<div style="background-image: url(/Afbeeldingen/Japan/japan1.jpg)" class="img-tile"></div>
<div style="background-image: url(/Afbeeldingen/Japan/japan2.jpg)" class="img-tile"></div>
<div style="background-image: url(/Afbeeldingen/Japan/japan3.jpg)" class="img-tile"></div>
<div style="background-image: url(/Afbeeldingen/Japan/japan4.jpg)" class="img-tile"></div>

